.intro {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: min(900px, calc(100vh - 4rem));
  height: fit-content;

  overflow: hidden;
  background: black;

  padding: 5rem var(--safe-padding);

  @media (width < $desktop) {
    padding: 2rem var(--safe-padding);
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

    height: 100%;
    width: 100%;
    max-width: var(--max-width);
  }

  .buttonsRow {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  @media (width < $mobile) {
    .buttonsRow {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  h1 {
    position: relative;
    color: white;
    font-weight: 500;
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0;

    @media (width < $tablet) {
      font-size: 3rem;
    }

    &::after {
      content: ".";
      color: var(--accent);
    }
  }

  h2 {
    color: oklch(from white l c h / 0.7);
    font-size: 1.3rem;
    font-weight: 300;
    max-width: 40rem;

    @media (width < $mobile) {
      font-size: 1rem;
    }
  }
}

.highlighted {
  color: white;
  font-weight: 500;
}

.dashLine {
  position: absolute;
}

.dashLine[data-side="left"] {
  left: -10px;
}

.dashLine[data-side="right"] {
  right: 10px;
}

.dashLine[data-side="left"],
.dashLine[data-side="right"] {
  width: 1px;
  height: calc(100% + 8rem);
  transform: translateY(-4rem);

  background: linear-gradient(
                  180deg,
                  oklch(from var(--primary) l c h / 0.2),
                  oklch(from var(--primary) l c h / 0.2) 50%,
                  transparent 0,
                  transparent
  );

  background-size: 10px 10px;

  -webkit-mask-image: linear-gradient(
                  to top,
                  transparent 0%,
                  black calc(100% - calc(100% - 4rem)),
                  black calc(100% - 4rem),
                  transparent 100%
  );
  mask-image: linear-gradient(
                  to top,
                  transparent 0%,
                  black calc(100% - calc(100% - 4rem)),
                  black calc(100% - 4rem),
                  transparent 100%
  );
}

.dashLine[data-side="top"] {
  top: -10px;
}

.dashLine[data-side="bottom"] {
  bottom: -10px;
}

.dashLine[data-side="top"],
.dashLine[data-side="bottom"] {
  width: calc(100% + 8rem);
  height: 1px;
  transform: translateX(-4rem);

  background: linear-gradient(
                  90deg,
                  oklch(from var(--primary) l c h / 0.2),
                  oklch(from var(--primary) l c h / 0.2) 50%,
                  transparent 0,
                  transparent
  );

  background-size: 10px 10px;

  -webkit-mask-image: linear-gradient(
                  to right,
                  transparent 0%,
                  black calc(100% - calc(100% - 4rem)),
                  black calc(100% - 4rem),
                  transparent 100%
  );
  mask-image: linear-gradient(
                  to right,
                  transparent 0%,
                  black calc(100% - calc(100% - 4rem)),
                  black calc(100% - 4rem),
                  transparent 100%
  );
}
