.global {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  background-color: black;
  color: white;

  z-index: 99;

  transition: height 0.3s ease-in-out;

  a, img {
    height: 1.5rem;
    width: auto;
  }
}

.mainContent {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1500px;
  height: 4rem;

  padding: 1rem calc(1rem + env(safe-area-inset-left)) 1rem
    calc(1rem + env(safe-area-inset-right));
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.fullscreenContent {
  position: fixed;
  top: 4rem;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: end;

  width: 100%;
  min-height: fit-content;
  height: calc(100svh - 4rem);
  overflow-x: hidden;
  animation: appear 0.3s ease-in-out;

  background-color: black;

  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  div:nth-child(1) {
    width: 50%;
    background-color: #ff3500;

    @media (width < $mobile) {
      display: none;
    }
  }

  div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    height: 100%;
    max-height: calc(100svh - 4rem);
    width: 50%;

    box-shadow: 0 0 60px rgba(0, 0, 0, 0.5),
    0 0 10px rgba(0, 0, 0, 0.5);

    text-align: start;
    overflow-y: auto;
    padding: 3rem calc(6rem + env(safe-area-inset-right)) 3rem
      calc(2rem + env(safe-area-inset-left));

    @media (width < $tablet) {
      gap: 2rem;
      width: 70%;
    }

    @media (width < $mobile) {
      width: 100%;
      padding: 2rem env(safe-area-inset-right) 2rem
      env(safe-area-inset-left);
    }
  }
}

.primaryList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 5rem;
  font-weight: 500;

  @media (width < $tablet) {
    font-size: 4rem;
  }

  @media (width < $mobile) {
    font-size: 3.2rem;
  }

  a {
    width: fit-content;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: var(--accent);
    }
  }
}

.secondaryList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
  line-height: 2.6rem;

  a {
    width: fit-content;
    color: oklch(from white l c h / 0.8);
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: white;
    }

    &::after {
      content: ">";
      margin-left: 0.5rem;
      opacity: 0.5;
    }
  }

  @media (width < $tablet) {
    font-size: 1rem;
  }
}
