// MARK: Global Styles

.global {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;

  background-color: black;
  color: white;

  z-index: 99;

  nav {
    display: flex;
    align-items: center;
    justify-content: center;

    a, img {
      height: 1.5rem;
      width: auto;
    }
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1500px;
  height: 4rem;

  padding: 1rem var(--safe-padding);
}

// MARK: Desktop Styles

.primaryMenu {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;

    font-size: 1rem;

    @media (width < $desktop) {
      display: none;
    }
  }

  a {
    width: fit-content;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: var(--accent);
    }
  }
}

.secondaryMenu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

// MARK: Mobile Styles

.mobileContent {
  position: fixed;
  top: 4rem;
  left: 0;
  right: 0;
  height: 0;
  width: 100%;
  display: flex;
  justify-content: start;

  overflow-x: hidden;
  animation: appear 0.3s ease-in-out forwards;

  background-color: black;

  @keyframes appear {
    from {
      height: 0;
    }
    to {
      height: 100%;
    }
  }

  ul {
    list-style: none;
    font-size: 2rem;
    text-align: start;
    line-height: 4rem;
    padding: 1rem 3rem;

    a {
      color: white;
      text-decoration: none;

      &:hover,
      &:active {
        color: var(--accent);
      }
    }

    li {
      opacity: 0;
      transform: translateY(-10px);
      animation: stagger 0.2s ease-in-out forwards;

      @keyframes stagger {
        from {
          opacity: 0;
          transform: translateY(-10px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    @media (height < $mobile) {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      width: 100%;
      gap: 2rem;
      row-gap: 0;
      height: fit-content;
      max-height: calc(100svh - 4rem);
    }
  }
}
