:root {
  --bg: #fff;
  --secondaryBg: #ececec;
  --primary: #000;
  --secondary: #575757;
  --accent: #ff3500;

  --vertical-padding: 8rem;
  --safe-padding: calc(1rem + ((env(safe-area-inset-left) + env(safe-area-inset-right)) / 2));
  --max-width: 1500px;
}

@media (width < $mobile) {
  :root {
    --vertical-padding: 5rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #000;
    --secondaryBg: #0e0e0e;
    --primary: #fff;
    --secondary: #ccc;
  }
}

//* {
//  border: red solid 1px;
//}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: text;
  margin: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}
