:root {
  --bg: #fff;
  --secondaryBg: #ececec;
  --primary: #000;
  --secondary: #575757;
  --accent: #ff3500;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #000;
    --secondaryBg: #0e0e0e;
    --primary: #fff;
    --secondary: #ccc;
  }
}

//* {
//  border: red solid 1px;
//}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: text;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: block;
  min-height: 100%;
}

main {
  display: block;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 100%;
}

.container {
  height: 100%;
  max-width: 1200px;
  padding: 8rem calc(1rem + env(safe-area-inset-left)) 8rem
    calc(1rem + env(safe-area-inset-right));

  @media (width < 640px) {
    padding: 5rem calc(1rem + env(safe-area-inset-left)) 5rem
      calc(1rem + env(safe-area-inset-right));
  }
}
