:root {
  --bg: #fff;
  --secondaryBg: #ececec;
  --primary: #000;
  --secondary: #575757;
  --accent: #ff3500;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #000;
    --secondaryBg: #0e0e0e;
    --primary: #fff;
    --secondary: #ccc;
  }
}

//* {
//  border: red solid 1px;
//}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: text;
}

html,
body {
  position: relative;
  max-width: 100vw;
  background-color: var(--bg);
  overflow-x: clip;
  transition: background-color;
  transition-duration: 0.3s;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 100%;
}

.container {
  max-width: 1200px;
  padding: 4rem calc(1rem + env(safe-area-inset-right)) 4rem
    calc(1rem + env(safe-area-inset-left));

  @media (width < 640px) {
    padding: 3rem calc(1rem + env(safe-area-inset-right)) 3rem
      calc(1rem + env(safe-area-inset-left));
  }
}
